name: warehouses-siaf

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Warehouse-siaf
    ports:
      - "5007:80"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:80"
    restart: unless-stopped
